.forms-page {
    padding-bottom: 100px;
    h1 {
        text-align: center;
    }
}

.form-row {
    display: block;
    margin-bottom: 16px;
    label {
        margin-bottom: 0;
    }
}

.wpcf7-response-output {
    display: none!important;
}