.two-plus-two {
	// margin-bottom: 120px;
	transform: translateY(-50%);
	.wrap {
		box-sizing: border-box;
		background-color: #2F6EE8;
		border-radius: 12px;
		color: #2F6EE8;
		padding: 80px 20px;
		text-align: center;
	}
	.head {
		h2 {
			color: #fff;
		}
		p {
			color: #fff;
		}
	}
}