.test-work-section {
	
	display: flex;
	column-gap: 30px;

   width: 100%;
	margin-bottom: 30px;

}
.test-work-article {
	   background-color: #fff;
	
flex-basis: 50%;

	box-sizing: border-box;


	min-height: 50px;

}

.test-work-article__title {

	font-size: 22px;
	font-weight: 700;
	letter-spacing: -0.44px;
	line-height: 1.1;
	text-transform: uppercase;
	padding: 10px 10px;


}
.test-work-article__body {

	height: 0px;
	overflow: hidden;
	pointer-events: none;
	opacity: 0;
	width: 0px;

}

.body-active{
	height: 150px;
	/* overflow: hidden; */
	/* pointerevents: none; */
	opacity: 1;
	width: 100%;
}

.gravity-form{

	width: 60%;
	min-height: 150px;
	margin: 0 auto 30px auto;
	background-color: #fff;

	/* margin-bottom: 30px; */
	
}