.test-work-section {
	
display: flex;
   width: 100%;
	margin-bottom: 10px;

}
.test-work-article {
	   background-color: #fff;
	
flex-basis: 50%;

	box-sizing: border-box;


	min-height: 50px;
	border: 1px solid #0515fd;

}

.test-work-article__header {

	font-size: 22px;
	font-weight: 700;
	letter-spacing: -0.44px;
	line-height: 1.1;
	text-transform: uppercase;
	padding: 10px 0px;


}
.test-work-article__body {

}

.gravity-form{

	width: 60%;
	min-height: 150px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #0515fd;
	
}