.page-reviews {
    .head-reviews {
        margin: 0 auto 40px;
    }
    .wrap {
        margin-bottom: 40px;
        max-width: 50%;
        @media screen and (max-width: 991px) {
            box-sizing: border-box;
            margin-bottom: 30px;
            padding: 0 15px;
            max-width: 100%;
        }
    }
}

.reviews-list {
    margin-bottom: 120px;
    .row {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        @media screen and (max-width: 991px) {
            box-sizing: border-box;
            margin: 0;
            padding: 0 10px;
        }
    }
    .col:nth-child(even) {
        background-color: #fff;
        border: 1px solid #CFD6E4;
        &:before {
            border-right-color: #fff;
        }
        .review-card {
            h3 {
                color: #000;
            }

            p {
                color: #000;
            }
        }
    }
    .col {
        box-sizing: border-box;
        background-color: #6536D6;
        border-radius: 14px;
        border-top-left-radius: 0;
        display: block;
        margin-bottom: 10px;
        position: relative;
        width: calc(33.3333333333% - 10px);
         .review-card {
             box-sizing: border-box;
             font-size: 12px;
             padding: 20px;

             h3 {
                 color: #fff;
                 font-size: 18px;
             }

             p {
                 color: #fff;
                 font-size: 12px;
             }

             blockquote {
                 box-sizing: border-box;
                 margin: 0;
                 margin-top: 10px;
                 padding: 0;

                 p {
                     color: #fff;
                     font-size: 12px;
                     line-height: 1.6;
                 }
             }
         }
    }
}

@media screen and (max-width: 991px) {
    .reviews-list .col {
        width: 100%;
    }
}




.video-reviews {
    margin-bottom: 120px;
    .head {
        text-align: left;
        max-width: 50%;
        @media screen and (max-width: 991px) {
            max-width: 100%;
        }
    }
    .row {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;
        @media screen and (max-width: 991px) {
            align-items: flex-start;
            display: flex!important;
            flex-wrap: wrap;
            margin: 0 -10px;
        }
    }
    .col {
        box-sizing: border-box;
        padding: 20px;
        overflow: hidden;
        width: 25%;
        @media screen and (max-width: 991px) {
            padding: 10px;
            width: 100%;
        }
    }
    .video-card {
        box-sizing: border-box;
        object-fit: cover;
        border-radius: 15px;
        overflow: hidden;
        video {
            border-radius: 12px;
            object-fit: cover;
            height: 480px;
            width: 100%;
            @media screen and (max-width: 991px) {
                height: 70vh;
            }
        }
        .video-details {
            box-sizing: border-box;
            padding: 12px;
            p {
                font-size: 12px;
            }
        }
    }
}