.page-tutors {
    box-sizing: border-box;
    background-color: #f7f7f7;
    padding-top: 140px;
    position: relative;
    .head {
        margin-bottom: 60px;
        text-align: center;
        .wrap {
            margin: 0 auto;
            max-width: 660px;
        }
    }

    .tutors-filter-trigger {
        background-color: #000;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2006_2172)'%3E%3Cpath d='M15.75 5.0625H6.1875C6.03832 5.0625 5.89524 5.00324 5.78975 4.89775C5.68426 4.79226 5.625 4.64918 5.625 4.5C5.625 4.35082 5.68426 4.20774 5.78975 4.10225C5.89524 3.99676 6.03832 3.9375 6.1875 3.9375H15.75C15.8992 3.9375 16.0423 3.99676 16.1477 4.10225C16.2532 4.20774 16.3125 4.35082 16.3125 4.5C16.3125 4.64918 16.2532 4.79226 16.1477 4.89775C16.0423 5.00324 15.8992 5.0625 15.75 5.0625Z' fill='white'/%3E%3Cpath d='M3.9375 5.0625H2.25C2.10082 5.0625 1.95774 5.00324 1.85225 4.89775C1.74676 4.79226 1.6875 4.64918 1.6875 4.5C1.6875 4.35082 1.74676 4.20774 1.85225 4.10225C1.95774 3.99676 2.10082 3.9375 2.25 3.9375H3.9375C4.08668 3.9375 4.22976 3.99676 4.33525 4.10225C4.44074 4.20774 4.5 4.35082 4.5 4.5C4.5 4.64918 4.44074 4.79226 4.33525 4.89775C4.22976 5.00324 4.08668 5.0625 3.9375 5.0625Z' fill='white'/%3E%3Cpath d='M11.8125 9.5625H2.25C2.10082 9.5625 1.95774 9.50324 1.85225 9.39775C1.74676 9.29226 1.6875 9.14918 1.6875 9C1.6875 8.85082 1.74676 8.70774 1.85225 8.60225C1.95774 8.49676 2.10082 8.4375 2.25 8.4375H11.8125C11.9617 8.4375 12.1048 8.49676 12.2102 8.60225C12.3157 8.70774 12.375 8.85082 12.375 9C12.375 9.14918 12.3157 9.29226 12.2102 9.39775C12.1048 9.50324 11.9617 9.5625 11.8125 9.5625Z' fill='white'/%3E%3Cpath d='M6.1875 14.0625H2.25C2.10082 14.0625 1.95774 14.0032 1.85225 13.8977C1.74676 13.7923 1.6875 13.6492 1.6875 13.5C1.6875 13.3508 1.74676 13.2077 1.85225 13.1023C1.95774 12.9968 2.10082 12.9375 2.25 12.9375H6.1875C6.33668 12.9375 6.47976 12.9968 6.58525 13.1023C6.69074 13.2077 6.75 13.3508 6.75 13.5C6.75 13.6492 6.69074 13.7923 6.58525 13.8977C6.47976 14.0032 6.33668 14.0625 6.1875 14.0625Z' fill='white'/%3E%3Cpath d='M5.0625 6.1875C4.72874 6.1875 4.40248 6.08853 4.12498 5.90311C3.84747 5.71768 3.63118 5.45413 3.50345 5.14578C3.37573 4.83743 3.34231 4.49813 3.40743 4.17079C3.47254 3.84344 3.63326 3.54276 3.86926 3.30676C4.10526 3.07076 4.40594 2.91004 4.73329 2.84493C5.06063 2.77981 5.39993 2.81323 5.70828 2.94095C6.01663 3.06868 6.28018 3.28497 6.46561 3.56248C6.65103 3.83998 6.75 4.16624 6.75 4.5C6.75 4.94755 6.57221 5.37678 6.25574 5.69324C5.93928 6.00971 5.51005 6.1875 5.0625 6.1875ZM5.0625 3.9375C4.95125 3.9375 4.84249 3.97049 4.74999 4.0323C4.65749 4.09411 4.58539 4.18196 4.54282 4.28474C4.50024 4.38752 4.4891 4.50062 4.51081 4.60974C4.53251 4.71885 4.58609 4.81908 4.66475 4.89775C4.74342 4.97642 4.84365 5.02999 4.95276 5.05169C5.06188 5.0734 5.17498 5.06226 5.27776 5.01968C5.38054 4.97711 5.46839 4.90501 5.5302 4.81251C5.59201 4.72001 5.625 4.61125 5.625 4.5C5.625 4.35082 5.56574 4.20774 5.46025 4.10225C5.35476 3.99676 5.21168 3.9375 5.0625 3.9375Z' fill='white'/%3E%3Cpath d='M12.9375 10.6875C12.6037 10.6875 12.2775 10.5885 12 10.4031C11.7225 10.2177 11.5062 9.95413 11.3785 9.64578C11.2507 9.33743 11.2173 8.99813 11.2824 8.67079C11.3475 8.34344 11.5083 8.04276 11.7443 7.80676C11.9803 7.57076 12.2809 7.41004 12.6083 7.34493C12.9356 7.27981 13.2749 7.31323 13.5833 7.44095C13.8916 7.56868 14.1552 7.78497 14.3406 8.06248C14.526 8.33998 14.625 8.66624 14.625 9C14.625 9.44755 14.4472 9.87678 14.1307 10.1932C13.8143 10.5097 13.3851 10.6875 12.9375 10.6875ZM12.9375 8.4375C12.8262 8.4375 12.7175 8.47049 12.625 8.5323C12.5325 8.59411 12.4604 8.68196 12.4178 8.78474C12.3752 8.88752 12.3641 9.00063 12.3858 9.10974C12.4075 9.21885 12.4611 9.31908 12.5398 9.39775C12.6184 9.47642 12.7186 9.52999 12.8278 9.55169C12.9369 9.5734 13.05 9.56226 13.1528 9.51968C13.2555 9.47711 13.3434 9.40501 13.4052 9.31251C13.467 9.22001 13.5 9.11125 13.5 9C13.5 8.85082 13.4407 8.70774 13.3352 8.60225C13.2298 8.49676 13.0867 8.4375 12.9375 8.4375Z' fill='white'/%3E%3Cpath d='M7.3125 15.1875C6.97874 15.1875 6.65248 15.0885 6.37498 14.9031C6.09747 14.7177 5.88118 14.4541 5.75345 14.1458C5.62573 13.8374 5.59231 13.4981 5.65743 13.1708C5.72254 12.8434 5.88326 12.5428 6.11926 12.3068C6.35526 12.0708 6.65594 11.91 6.98329 11.8449C7.31063 11.7798 7.64993 11.8132 7.95828 11.941C8.26663 12.0687 8.53018 12.285 8.71561 12.5625C8.90103 12.84 9 13.1662 9 13.5C9 13.9476 8.82221 14.3768 8.50574 14.6932C8.18928 15.0097 7.76005 15.1875 7.3125 15.1875ZM7.3125 12.9375C7.20125 12.9375 7.0925 12.9705 6.99999 13.0323C6.90749 13.0941 6.83539 13.182 6.79282 13.2847C6.75024 13.3875 6.7391 13.5006 6.76081 13.6097C6.78251 13.7189 6.83609 13.8191 6.91475 13.8977C6.99342 13.9764 7.09365 14.03 7.20276 14.0517C7.31188 14.0734 7.42498 14.0623 7.52776 14.0197C7.63054 13.9771 7.71839 13.905 7.7802 13.8125C7.84201 13.72 7.875 13.6113 7.875 13.5C7.875 13.3508 7.81574 13.2077 7.71025 13.1023C7.60476 12.9968 7.46169 12.9375 7.3125 12.9375Z' fill='white'/%3E%3Cpath d='M15.75 9.5625H14.0625C13.9133 9.5625 13.7702 9.50324 13.6648 9.39775C13.5593 9.29226 13.5 9.14918 13.5 9C13.5 8.85082 13.5593 8.70774 13.6648 8.60225C13.7702 8.49676 13.9133 8.4375 14.0625 8.4375H15.75C15.8992 8.4375 16.0423 8.49676 16.1477 8.60225C16.2532 8.70774 16.3125 8.85082 16.3125 9C16.3125 9.14918 16.2532 9.29226 16.1477 9.39775C16.0423 9.50324 15.8992 9.5625 15.75 9.5625Z' fill='white'/%3E%3Cpath d='M15.75 14.0625H8.4375C8.28832 14.0625 8.14524 14.0032 8.03975 13.8977C7.93426 13.7923 7.875 13.6492 7.875 13.5C7.875 13.3508 7.93426 13.2077 8.03975 13.1023C8.14524 12.9968 8.28832 12.9375 8.4375 12.9375H15.75C15.8992 12.9375 16.0423 12.9968 16.1477 13.1023C16.2532 13.2077 16.3125 13.3508 16.3125 13.5C16.3125 13.6492 16.2532 13.7923 16.1477 13.8977C16.0423 14.0032 15.8992 14.0625 15.75 14.0625Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2006_2172'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-position: left 16px top 50%;
        background-repeat: no-repeat;
        background-size: 16px;
        border-radius: 6px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        line-height: 48px;
        padding-left: 40px;
        padding-right: 24px;
        position: sticky;
        top: 80px;
        left: -24px;
        z-index: 5;
    }

    .tutors-filter {
        margin-bottom: 24px;
        position: sticky;
        top: 100px;
        width: 100%;
        .container {
            box-sizing: border-box;
        }
        .filter-options {
            box-sizing: border-box;
            background-color: #000;
            border-radius: 12px;
            color: #fff;
            height: 0;
            overflow: hidden;
            margin-top: -48px;
            padding: 24px;
            opacity: 0;
            visibility: hidden;
            transition: .2s ease-in-out;
            &.visible {
                height: inherit;
                opacity: 1;
                visibility: visible;
            }
        }
        .filter-section {
            padding-top: 60px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .filter-column {
                width: 33.3333%;
            }
        }
        ul {
            list-style: none;
            li {
                list-style: none;
            }
        }
        .filter-parent {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
        }
        ul {
            margin-top: 6px;
        }
        a {
            font-size: 12px;
            font-weight: normal;
        }
    }
    
    .tutors-listing {
        margin-bottom: 100px;
        .tutor-block {
            box-sizing: border-box;
            background-color: #fff;
            border-radius: 12px;
            display: block;
            margin-bottom: 20px;
            padding: 32px;
            .row {
                // align-items: center;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            .tutor-photo {
                background-image: url("data:image/svg+xml,%3Csvg width='50' height='65' viewBox='0 0 50 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.23934 10.64L13.2593 14.17C11.6693 16.52 10.8393 19.22 10.8393 22.05C10.8393 29.79 17.1293 36.15 24.9393 36.15C32.7493 36.15 39.0393 29.86 39.0393 22.05C39.0393 19.28 38.2093 16.52 36.6893 14.24L43.7393 10.92V24.33L41.5993 28.89C41.4593 29.24 41.4593 29.58 41.6693 29.86C41.8793 30.14 42.2193 30.34 42.5693 30.34H46.6493C46.9993 30.34 47.3393 30.2 47.4793 29.86C47.6893 29.58 47.6893 29.24 47.5493 28.89L45.6793 24.33V10.02C45.6793 9.46998 45.6093 9.04998 44.6393 8.63998C44.4293 8.56998 25.4193 0.139976 25.4193 0.139976C25.1493 -2.38642e-05 24.8793 -2.38642e-05 24.5993 0.129976L5.23934 8.70998C4.89934 8.84998 4.61934 9.25998 4.61934 9.67998C4.61934 10.09 4.82934 10.44 5.23934 10.64ZM36.9093 22.05C36.9093 28.69 31.5193 34.08 24.8793 34.08C18.2393 34.08 12.8493 28.69 12.8493 22.05C12.8493 19.49 13.6793 17.07 15.1293 15L24.5293 19.22C24.6693 19.29 24.8093 19.29 24.9393 19.29C25.0793 19.29 25.2193 19.29 25.3493 19.22L34.6093 15.07C36.1493 17.14 36.9093 19.56 36.9093 22.05ZM44.1693 28.27L44.6493 27.23L45.0593 28.27H44.1693ZM25.0193 2.20998L41.8193 9.67998L25.0193 17.15L8.21934 9.67998L25.0193 2.20998Z' fill='url(%23paint0_linear_2006_2168)'/%3E%3Cpath d='M25.2893 38.64C11.8093 38.64 0.819336 49.63 0.819336 63.11C0.819336 63.66 1.29934 64.15 1.85934 64.15H48.7293C49.2793 64.15 49.7693 63.67 49.7693 63.11C49.7693 49.64 38.7693 38.64 25.2893 38.64ZM2.95934 62.08C3.50934 50.19 13.3293 40.72 25.3593 40.72C37.3893 40.72 47.1393 50.26 47.6893 62.08H2.95934Z' fill='url(%23paint1_linear_2006_2168)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2006_2168' x1='0.819336' y1='32.0918' x2='49.7693' y2='32.0918' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23DA23FF'/%3E%3Cstop offset='1' stop-color='%239933EF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_2006_2168' x1='0.819336' y1='32.0918' x2='49.7693' y2='32.0918' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23DA23FF'/%3E%3Cstop offset='1' stop-color='%239933EF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
                background-color: #EEEEEE;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 48px auto;
                border-radius: 50%;
                height: 160px;
                width: 160px;
            }
            .tutor-info-wrap {
                width: calc(100% - 200px);
                .tutor-head {
                    h4 {
                        color: #6536D6;
                    }
                }
                .details {
                    ul {
                        list-style: none;
                    }
                    li {
                        list-style: none;
                        margin-bottom: 8px;
                        strong {
                            display: block;
                            font-size: 14px;
                            line-height: 1;
                            margin-bottom: 0;
                        }
                        font-size: 14px;
                    }
                }
                .bio {
                    p {
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}